{% extends 'base.html' %} {% block block %}

<div class="container mt-3">
  <form action="/update/{{todo.Sno}}" method="POST">
    <h2>Update a Todo</h2>
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="{{todo.title}}"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Add description</label>
      <input
        type="text"
        class="form-control"
        id="desc"
        name="desc"
        value="{{todo.desc}}"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>

{% endblock block %}
